name: CI-CD

on: 
  push:
    branches: ["main"]

jobs: 
  CI:
    runs-on: ubuntu-latest
    services:
        postgres:
          image: postgres:latest
          env:
            POSTGRES_USER: gamesapi
            POSTGRES_PASSWORD: gamesapi
            POSTGRES_DB: gamesapi
          ports:
            - 5432:5432
          options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: Copia os arquivos do repositório
        uses: actions/checkout@v4.1.1

      - name: Instalar o python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
        
      - name: Build Docker image
        run: docker build -t games_api:latest .
      
      - name: Verificar migrations
        run: |
          docker run --rm \
            --network host \
            -e DATABASE_URL=postgresql+asyncpg://gamesapi:gamesapi@localhost/gamesapi \
            games_api:latest make run-migrations

      - name: Run tests
        run: |
          docker run --rm \
            --network host \
            -e DATABASE_URL=postgresql+asyncpg://gamesapi:gamesapi@localhost/gamesapi \
            games_api:latest make coverage
  
  CD:
    runs-on: ubuntu-latest
    needs: [CI]
    steps:
      - name: Copia os arquivos do repositório
        uses: actions/checkout@v4.1.1
      
      - name: Definindo O context
        uses: Azure/k8s-set-context@v3.0
        with:
          method: kubeconfig
          kubeconfig: ${{secrets.K8S_CONFIG}}
    
